<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="hero">
        <div class="navbar">
          <div class="nav__brand">
            <h1>Coffee<span>House.</span></h1>
          </div>
          <div class="nav__link">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Reviews</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="search__bar">
            <input class="search__box" type="text" placeholder="Search Here" />
            <input class="submit" type="button" value="Search" />
          </div>
        </div>
        <div class="wrapper">
          <div class="row">
            <div class="article_1">
              <h1>Drink With Us</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Possimus incidunt ab<br />nulla, tenetur eius voluptatem rerum
                aliquam perspiciatis sequi amet id? Aspernatur<br />
                sapiente sed voluptatibus hic odio repudiandae nihil mollitia.
              </p>
              <button class="explore__more">Explore More >></button>
            </div>
            <div class="article_2">
              <img src="../Images/coffee.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <section class="item__section">
        <div class="image__section">
          <div class="item">
            <div class="image">
              <img src="../Images/coffee.png" alt="" />
              <div class="img_desc">
                <h3>Cold coffee</h3>
                <p>$10</p>
                <button>Buy Now</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="../Images/coffee.png" alt="" />
              <div class="img_desc">
                <h3>Cold coffee</h3>
                <p>$10</p>
                <button>Buy Now</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="../Images/coffee.png" alt="" />
              <div class="img_desc">
                <h3>Cold coffee</h3>
                <p>$10</p>
                <button>Buy Now</button>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="../Images/coffee.png" alt="" />
              <div class="img_desc">
                <h3>Cold coffee</h3>
                <p>$10</p>
                <button>Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
